<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodbank3">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB93v1NaIbhSIvWItFZIBKXFvv6fh6rcXg" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="Dashboard"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="Registration"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.RestorePassword"
            android:label="Reset Password"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.AppointmentActionsActivity"
            android:label="Appointment Actions"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.RescheduleAppointmentActivity"
            android:label="Reschedule Appointment"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>